RPI3_ASP.NET/LedContoller/LedContoller/obj
RPI3_ASP.NET/LedContoller/.vs/LedContoller/DesignTimeBuild
RPI3_ASP.NET/LedContoller/.vs
RPI3_ASP.NET/LedContoller/LedContoller/bin
RPI3_ASP.NET/LedContoller/LedContollerBlazor/.vs
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor.ServiceDefaults/obj
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor.ServiceDefaults/bin
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor.AppHost/obj
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor.AppHost/bin
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor/LedContollerBlazor/bin
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor/LedContollerBlazor/obj
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor/LedContollerBlazor.Client/bin
RPI3_ASP.NET/LedContoller/LedContollerBlazor/LedContollerBlazor/LedContollerBlazor.Client/obj
RPI3_ASP.NET/LedContoller/LedControleLinuxBlazor/.vs
RPI3_ASP.NET/LedContoller/LedControleLinuxBlazor/LedControleLinuxBlazor/LedControleLinuxBlazor/bin
RPI3_ASP.NET/LedContoller/LedControleLinuxBlazor/LedControleLinuxBlazor/LedControleLinuxBlazor.Client/bin
RPI3_ASP.NET/LedContoller/LedControleLinuxBlazor/LedControleLinuxBlazor/LedControleLinuxBlazor/obj
RPI3_ASP.NET/LedContoller/LedControleLinuxBlazor/LedControleLinuxBlazor/LedControleLinuxBlazor.Client/obj
