@page "/"
@using System.Collections.ObjectModel
@using LedContoller.Model
@using LedContoller.Socket
@using Microsoft.AspNetCore.SignalR

@inject IHubContext<LedControlHub> HubContext

@foreach (var led in ledStates)
{
    <div>
        LED @led.LedNumber: 
        <input type="color" value="@led.LedColor" @onchange="(e) => SetLedColor(led, e.Value.ToString())" />
        <input type="range" min="0" max="1" step="0.01" value="@led.Brightness" @onchange="(e) => SetLedBrightness(led, e.Value)" />
    </div>
}

@code {
    private ObservableCollection<LEDState> ledStates;
    //private Microsoft.AspNetCore.SignalR.Client.HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        LoadLeds();
    }
    private async void LoadLeds()
    {
        
    }

    private async Task SetLedColor(LEDState led, string color)
    {
        led.SetColorFromHtml(color);
        await HubContext.Clients.All.SendAsync("SettLedState", led);
    }

    private async Task SetLedBrightness(LEDState led, float brightness)
    {
        led.Brightness = brightness;
        await HubContext.Clients.All.SendAsync("SettLedState", led);
    }
}