@using LedControleLinuxBlazor.Client.Model
@using LedControleLinuxBlazor.Const
@using LedControleLinuxBlazor.Model
<FluentCard>
    <CardHeader>
        <h3>@LedGroup.Name</h3>
        <FluentDivider></FluentDivider>
    </CardHeader>
    <CardBody>   
        <FluentGrid Spacing="4" Justify="JustifyContent.Center" Style="padding: 4px;">
            @foreach (string action in LedGroup.LedActions)
            {
                @switch (action)
                {
                    case LedActions.BRIGHTNESS:
                    <FluentGridItem xs="12" Justify="JustifyContent.Center">
                            <FluentSlider Orientation="Orientation.Horizontal" Min="0" Max="100" Step="1"
                                          @bind-Value=brightness Style="margin: 20px 0">
                                <FluentSliderLabel Position="0">0%</FluentSliderLabel>
                                <FluentSliderLabel Position="25">25%</FluentSliderLabel>
                                <FluentSliderLabel Position="50">50%</FluentSliderLabel>
                                <FluentSliderLabel Position="75">75%</FluentSliderLabel>
                                <FluentSliderLabel Position="100">100%</FluentSliderLabel>
                            </FluentSlider>
                        </FluentGridItem>
                        break;
                    default:
                    <FluentGridItem xs="12" sm="6" Style="margin: 20px 0;" Justify="JustifyContent.FlexStart">
                        <FluentButton Style="width: 100%"  Appearance="Appearance.Accent" OnClick="@(() => HandleAction(action))">
                                @action
                            </FluentButton>
                        </FluentGridItem>
                        
                    break;
                }
            }
        </FluentGrid>
    </CardBody>
</FluentCard>

@code {
    [Parameter]
    public LedGroup LedGroup { get; set; }

    private LedGroup previousLedGroup;

    [Parameter]
    public EventCallback<LedGroupBundle> OnActionClick { get; set; }

    private string buttonPercentage { get; set; } = "100";
    private int _brightness = 100;
    private int brightness
    {
        get => _brightness;
        set => SetBrightnessDebounced(value);
    }
    private CancellationTokenSource _debounceCts = new CancellationTokenSource();
    protected override async Task OnParametersSetAsync()
    {
        if (LedGroup != previousLedGroup)
        {
            previousLedGroup = LedGroup;
            buttonPercentage = (100 / LedGroup.LedActions.Count).ToString();
        }
    }
    private async void SetBrightnessDebounced(int value)
    {
        if (value != _brightness)
        {
            _brightness = value;
            _debounceCts.Cancel();
            _debounceCts.Dispose();
            _debounceCts = new CancellationTokenSource();

            try
            {
                await Task.Delay(100, _debounceCts.Token);
                HandleAction(LedActions.BRIGHTNESS);
            }
            catch (TaskCanceledException)
            {
              #if DEBUG
              Console.WriteLine("Stop Task waiter");
              #endif
            }
        }
    }
    
    private async Task HandleAction(string action)
    {
        LedGroupBundle led = new LedGroupBundle(LedGroup);
        led.LedState.LedNumber = -1;
        switch (action)
        {
            case LedActions.ON:
                led.LedState.LedColor = LedGroup.LedColor;
                led.LedState.Brightness = 100;
                break;
            case LedActions.BRIGHTNESS:
                led.LedState.LedColor = LedGroup.LedColor;
                led.LedState.Brightness = brightness;
                break;
            case LedActions.OFF:
                led.LedState.LedColor = "#000000";
                led.LedState.Brightness = 0;
                break;
        }
        await OnActionClick.InvokeAsync(led);
    }
}
